extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Lee Haney

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I started learning how to code in 2017. I learned some Python and Java, doing simple 'hello world' type of programs, using Coderbyte and Hackerrank for extra practice. I built on my Python skills a little more by taking Udacity's Intro to Programming Nanodegree.
            | I continue to learn and improve upon my skills through Team Treehouse, the Odin Project, and Udemy.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML 
          li CSS
          li SASS 
          li Bootstrap 
          li JavaScript
          li Git 
          li jQuery 
          li AJAX
          li APIs
          li Node.js
          li Express.js
        h6 Contact Info

        ul
          li 867-5309
          li lumberjack@gmail.com

        a.button.expanded(href='https://github.com/leeb2828', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/leeahaney', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

    
  